@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
    
}
@keyframes neon {
    0% { border-color: #2e0cf1; }
    50% { border-color: #00ff00; }
    100% { border-color: #e80aec; }
}

.neon-border {
    width: 190spx; /* Lebar elemen */
    height: 300px; /* Tinggi elemen */
    border: 2px solid #ffffff; /* Border putih */
    border-radius: 5px; /* Border radius */
    animation: neon 2s infinite alternate; /* Efek animasi neon */
}
.neon-border::before {
    top: -25px;
    left: -25px;
  }
  
.neon-border::after{
    bottom: -25px;
    right: -25px;
  }
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .balloon {
    width: 100px;
    height: 150px;
    background-color: #7e0202;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    animation: moveUp 3s ease-in-out infinite alternate;
  }
  
  .balloon-body {
    width: 80px;
    height: 120px;
    background-color: #f40000;
    border-radius: 50% 50% 50% 50% / 50% 50% 40% 40%;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .balloon-string {
    width: 2px;
    height: 60px;
    background-color: #fefbfb;
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .balloon-knot {
    width: 12px;
    height: 12px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .text {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }
  
  @keyframes moveUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }

